.primary-font {
	font-family: "Monospace";
}

.btn1-fz {
	font-size: 1em;
}

.primary-fz {
	font-size: 1.2em;
}

.btn2-fz {
	font-size: 1.5em;
}

.secondary-fz {
	font-size: 2em;
}

.tertiary-fz {
	font-size: 2.5em;
}

.primary-fw {
	font-weight: 600;
}

.primary-blue {
	color: #064ad2;
}

.footer-background {
	background-color: #064ad2;
}
.primary-background {
	background-color: #071839;
}
.secondary-blue {
	color: #00236f;
}

.secondary-teal {
	color: #adedea;
}
.secondary-background {
	background-color: #adedea;
}

.slick-dots li button:before {
	color: white;
	opacity: 0.5;
	font-size: 8px;
}

.slick-dots li.slick-active button:before {
	color: white;
	opacity: 1;
}

.slick-slider {
	overflow: hidden;
}

.slick-slide {
	transition: all 0.3s ease;
}
