.primary-font {
	font-family: "Monospace";
}

.btn1-fz {
	font-size: 1em;
}

.primary-fz {
	font-size: 1.2em;
}

.btn2-fz {
	font-size: 1.5em;
}

.secondary-fz {
	font-size: 2em;
}

.tertiary-fz {
	font-size: 2.5em;
}

.primary-fw {
	font-weight: 600;
}

.primary-blue {
	color: #064ad2;
}

.primary-background {
	background-color: #071839;
}
.ecae-quote {
            position: relative;
            padding: 2rem;
            background-image: url("data:image/svg+xml,%3Csvg width='50' height='300' viewBox='0 0 105 150' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M82.3185 -1.72417e-05C89.902 7.56007 97.4084 15.0433 105 22.6115C93.0767 34.498 81.0965 46.4412 69.0027 58.4977C69.3843 58.7122 69.6725 58.8862 69.9689 59.0359C73.9555 61.0595 77.6417 63.5242 80.9179 66.5677C89.0616 74.1319 94.0997 83.3796 95.8575 94.3515C99.1743 115.073 88.8667 135.293 70.1272 144.844C65.1419 147.385 59.8602 149.037 54.2903 149.648C38.8634 151.344 25.4624 146.908 14.3104 136.13C7.31148 129.368 2.95137 121.091 0.986476 111.568C0.170475 107.614 -0.158367 103.619 0.0770994 99.5966C0.783483 87.447 5.25322 76.8677 13.8801 68.227C36.4479 45.6236 59.1011 23.1093 81.7257 0.558485C81.9287 0.356138 82.1439 0.165907 82.3266 -0.00407608L82.3185 -1.72417e-05Z' fill='%23ADEDEA' fill-opacity='0.1'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: right center;
            background-size: 160px auto;
        }

.secondary-blue {
	color: #00236f;
}

.secondary-teal {
	color: #adedea;
}
.secondary-background {
	background-color: #adedea;
}

.input-color {
	background-color: #f0f0ea;
}
.black-fc {
	color: #000;
}

.white-fc {
	color: #fff;
}

.primary-lineheight {
	line-height: 1.5em;
}

.primary-textshadow {
	text-shadow: 1px 1px 10px rgb(0 0 0 / 40%), -1px 1px 10px rgb(0 0 0 / 40%),
		1px -1px 10px rgb(0 0 0 / 40%), -1px -1px 10px rgb(0 0 0 / 40%);
}

.swiper-theme-color {
	color: #fff !important;
}

.swiper-navigation-size {
	font-size: 30px !important;
}

.swiper-pagination-bullet-size {
	width: 10px !important;
	height: 10px !important;
}

.swiper-pagination-bullet-inactive-opacity {
	opacity: 0.5 !important;
}
